{% extends "layout.html" %} {% block title %}Transactions{% endblock %} {% block content %}

<div style="background-color: burlywood; margin-left: 20px; width: max-content;">
        <a style="font-size:x-large; color: black;"> Here are the recent proposed blocks on the network</a>
</div>

<div style="background-color: #d4a05f; margin-left: 20px; width: fit-content;">
    <table style="width:max-content">
        <tr style="color: black; background-color:#d9ac73;">
          <th>Hash</th>
          <th>Time</th> 
          <th>Total Number Of Transaction</th> 
          <th>Validity</th>
          <th>Confimation</th>
        </tr>
        {% for item in blocks %}
            <tr style=" background-color:burlywood;">
                <th>{{ item['hash'] }}</th>
                <th>{{ item['time'] }}</th>
                <th>{{ item['trans_no'] }}</th>
                <th>{{ item['validity'] }}</th>
                <th>{{ item['confirmations'] }}</th>
            </tr>
        {% endfor%}
      </table>
</div>

</form>
{% endblock content %}